body {
    background: #fff;
    color:gray
  }
  #color {
    color:aquamarine;
    background:gray;
  }
  .dark {
    background:gray;
    color:aquamarine;
  }
  .dark #color {
  color: rgba(58, 39, 39, 0.007);
  background: rgb(228, 209, 209);
  
  }
  .buttonswitch{
      margin-left: 1235px;
      margin-top: -25px;
  }
  .extremum-slide{
      border: solid rgb(233, 17, 17);
      border-radius: 20px;
      width: 300px;
      margin-left: 500px;
  }
  hr{
      color: rgb(251, 10, 10);
  }
  #no-copy{ 
    margin-left: 500px;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
  }
  .content-3{
      margin-left: 2px;
      
  }
  .extremum-slide {
    border:1px solid;
    padding:50px;
    display: none;
  }
  .extremum-slide1 {
    border:1px solid;
    padding:50px;
    display: none;
  }
  .extremum-slide2 {
    
    padding:50px;
    display: none;
    margin-left: 400px;
  }
  .extremum-slide3 {
    border:1px solid;
    padding:50px;
    display: none;
  }
  
  .extremum-click2{
    font-size: 25px;
    margin-left: 18px;
  }
  .extremum-click{
      font-size: 25px;
      margin-left: -10px;
      padding-bottom: -50px;
      

  }
  .extremum-click1{
    font-size: 25px;
    margin-left: 22px;
  }
  .extremum-click3{
    font-size: 25px;
    margin-left: 24px;

  }
  :root {
    --birds-dark: #878787;
    --birds-medium-dark: #AFAFAF;
    --birds-medium-light: #D3D3D3;
    --birds-light: #E2E2E2;
    --birds-bright: #FF5629;
    --birds-shadow: #DDDDDD;
  }
  
  
.wraper{
  background-image: url(../images/rr.jpg);
}
* {margin: 0; padding: 0;}
#wrapper {
  width: 50%;
  margin: 10px;
}
#cart_content {
  margin-top: 10px;
  padding: 5px;
  border: 1px solid #060;
}
.item_box {
  border: 1px solid #999;
  margin-bottom: 10px;
  padding: 5px;
}
.shopping_list {
	width: 100%;
  margin-top: 10px;
	border-collapse: collapse;
}
.shopping_list td,
.shopping_list th {
	padding: 1px;
	border: 1px solid #AAAAAA;
}
.extremum-click4{
  margin-left: 25px;
  font-size: 25px;
}
.extremum-slide4{
  display: none;
  margin-left: 550px;
  width: 200px;
}
